// * FLEX display center

@mixin center {
    display: flex;
    align-items: center;
}

@mixin center_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin widthCenter {
    width: 70%;
    margin: auto;
}